<footer class="site-footer">
  <div class="footer-content">
    <h2>{{ site.title }}</h2>
    <p>{{ site.description }}</p>
    <div class="social-links">
      {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}">
        <span>GitHub</span>
      </a>
      {% endif %}
      
      {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <span>Twitter</span>
      </a>
      {% endif %}
      
      <a href="{{ "/feed.xml" | relative_url }}">
        <span>RSS</span>
      </a>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </div>
</footer>